# Compiled Objects #
####################
*.o
Blobby3D
__pycache__/

# Ad Hoc Tests #
################
tests/

# Data/Results #
################
*.fits
*.par
*.pdf
*.png
*.jpg
*.npy
*.pbs
*.pbs.*
*.txt
*.ini
!var.txt
!data.txt
!metadata.txt

# Temporary Files #
###################
*#
*~

# VS Code Files #
#################
*.json

# Miscellaneous #
#################
*.pbs
