# Compiled Objects #
####################
*.o
Blobby3D

# Ad Hoc Tests #
################
Tests/

# Data #
###########
*.fits

# Results #
###########
*sample.txt
*sample_info.txt
*sampler_state.txt
*levels.txt
*.pdf

# Temporary Files #
###################
*#
*~

# VS Code Files #
#################
settings.json
