# Compiled Objects #
####################
*.o
Blobby3D

# Ad Hoc Tests #
################
Tests/

# Data/Results #
################
*.fits
*.par
*.pdf
*.npy
*.pbs
*.txt
!var.txt
!data.txt

# Temporary Files #
###################
*#
*~

# VS Code Files #
#################
*.json
